* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.container-with-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

body {
    padding:16px;

}

main {
    padding: 16px;
}

div {
    padding-bottom: 10px;
    padding-top: 10px;
}

footer {
    padding:24px 16px;
    background-color: #B4CF66;

}

img {
    height: 200px;
    padding-top: 10px;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: #FF5A33;
}

ol {
    padding-left: 32px;
    padding-bottom: 30px;
}

#make-it-white {
color: white
}

h1 {
    color: #146152;
    padding-bottom: 8px;
}

h2 {
     padding-bottom: 8px;
}

a {
    text-decoration: none;
    color: #146152;
    font-weight: bolder;
   }

span {
    border: 1px solid black;
}

tr:nth-child(odd) {
    background-color: lightgrey;
}

th {
    background-color: white;
}

table {
    padding-bottom: 10px;
}
